<h1 class="welcome-heading">Welcome to Children'sBank</h1>
<div class="login-container mat-elevation-z4">
  <mat-card class="login-box">
    <h2 class="mat-h2 custom-heading">Login</h2>

    <mat-form-field class="form-field">
      <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-button" (click)="login()">Login</button>
    <button mat-button class="back-button" (click)="goToHomePage()">Back to Home</button>

    <div *ngIf="loginError" class="error-message">Invalid username or password</div>
  </mat-card>
</div>

